
<div class="replace">
  <div class = "row product-banner" id="title">
    <div class = "col-xs-12 col-md-7 col-lg-8">
      <h1><%= @project.name.capitalize %></h1>
      <p><%= @project.description.capitalize %></p>
      <br>
      <p><strong>Mission:</strong></p>
      <p>From Scratch, developper un site clone de Airbnb de locations.</p>
      <p>Delai de 5 jours.</p>
      <p><strong>Hebergement:</strong></p>
      <%= image_tag "Heroku.svg",size: "60x60", alt: "Logo Heroku" %>


    </div>
    <div class="language col-xs-12 col-md-4 col-lg-3" style="display: inline-block;padding: 8px">
       <br>
       <p><strong>Technologies utilisées</strong></p>
      <%= image_tag "ruby on rails.svg",size: "40x40", alt: "logo rails" %>
      <%= image_tag "Html5.svg",size: "40x40", alt: "logo Html5" %>
      <%= image_tag "css.svg",size: "40x40", alt: "logo css3" %>
      <%= image_tag "Sass.svg",size: "40x40", alt: "logo Sass" %>
       <%= image_tag "Ruby.svg",size: "40x40", alt: "Logo ruby" %>
      <%= image_tag "JS.svg",size: "40x40", alt: "Logo JS" %>
      <br>
            <div class="language col-xs-12">


                  <a class="btn btn-flat-black over" style="margin-top: 8vh" href="https://monurent.herokuapp.com/" target="blank" rel="noreferrer">Website</a>
    </div>
    </div>
  </div>
  <div id="slide9" class="product-banner">
    <div class="row" style="justify-content: space-around;">
      <div class=" col-xs-12 col-md-12 col-lg-4" style="display: inline-block;padding: 8px">
        <h4 data-aos="fade-up" style="color:white">Demandes spécifiques:</h4>
        <br>
        <p data-aos="fade-up" style="color:white">- Recherche par monuments.
        <br>- Scrapping des 100 monuments les plus visités au mondes.
        <br>- Visualisation géographique des monuments.</p>



</div>
      <div class = "col-xs-12 col-md-12 col-lg-4" style="display: inline-block;padding: 8px">

<h4 data-aos="fade-up" style="color:white">Technologies utilisés:</h4>
<br>
        <p data-aos="fade-up" style="color:white"> MapBox, ElasticSearch, Devise, Pundit.</p>
  </div>
  </div>
  </div>

  <div id="slide11" class="product-banner">

        <div data-aos="fade-up" style="padding:36rem 0 0 0;position:relative;">
                  <iframe src="https://player.vimeo.com/video/441168256?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
<!-- Content goes here -->

  </div>
  <div id="slide12" class="product-banner">
    <div class="titleright background-pink">
      <div class="content-left">
        <h1 data-aos="fade-up">Modern art family</h1>
        <p data-aos="fade-up">Agence artistique spécialisée dans le street art</p>
        <a class="btn btn-flat over" href="4">Discover</a>
      </div>
    </div>
  </div>
</div>
