<div id="frame">
  <div class="project-banner left background-black h-100 w-100">
    <%= render 'shared/navbar' %>
    <div class="discover visi" id="discover3">
      <h2>Monurent</h2>
      <p>Site de location de Monuments!</p>
      <a class="btn btn-flat over" >Discover</a>
    </div>
  </div>
</div>
<div class="replace">
  <div class = "row product-banner" id="title">
    <div class = "col-xs-12 col-md-7 col-lg-8">
      <h1><%= @project.name.capitalize %></h1>
      <p><%= @project.description.capitalize %></p>
      <br>
      <p><strong>Mission:</strong></p>
      <p>From Scratch, developper un site clone de Airbnb de locations.</p>
      <p>Utilisation de Devise, Pundit, mapbox.</p>
      <p><strong>Hebergement:</strong></p>
      <%= image_tag "Heroku.svg",size: "60x60", alt: "Logo Heroku" %>


    </div>
    <div class="language col-xs-12 col-md-4 col-lg-3" style="display: inline-block;padding: 8px">
      <p><strong>Technologies utilisées</strong></p>
      <%= image_tag "ruby on rails.svg",size: "40x40", alt: "logo rails" %>
      <%= image_tag "Html5.svg",size: "40x40", alt: "logo Html5" %>
      <%= image_tag "css.svg",size: "40x40", alt: "logo css3" %>
      <%= image_tag "Sass.svg",size: "40x40", alt: "logo Sass" %>
       <%= image_tag "Ruby.svg",size: "40x40", alt: "Logo ruby" %>
      <%= image_tag "JS.svg",size: "40x40", alt: "Logo JS" %>

                  <a class="btn btn-flat-black over" style="margin-top: 8vh" href="https://monurent.herokuapp.com/" target="blank" rel="noreferrer">Website</a>
    </div>
  </div>
  <div id="slide9" class="product-banner"></div>
  <div id="slide10" class="product-banner">
    <div class="centered">
      <h2 style="color:black">Devise, mapbox, pundit, cloudinary et gros scrapping</h2>
</div>
  <div class="centered-2">
    <%= image_tag "JS.svg",size: "40x40", alt: "logo Javascript" %>
      <%= image_tag "Html5.svg",size: "40x40", alt: "logo Html5" %>
      <%= image_tag "Ruby.svg",size: "40x40", alt: "logo Ruby" %>
      <%= image_tag "ruby on rails.svg",size: "40x40", alt: "logo Ruby on rails" %>
      <%= image_tag "Heroku.svg",size: "40x40", alt: "Logo heroku" %>
    </div>
    <div class="titleright">
      <div class="content-slide" style="color:black;">
              <a class="btn btn-flat-black over" href="https://monurent.herokuapp.com/" target="blank" rel="noreferrer">Website</a>

        <h2>Un projet de clone Airbnb un peu funky</h2>
                      <div style="padding:128.33% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/441168256?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:50%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                      </div><script src="https://player.vimeo.com/api/player.js"></script>

    </div>
    </div>
  </div>
  <div id="slide11" class="product-banner"></div>
  <div id="slide12" class="product-banner">
    <div class="titleright background-pink">
      <div class="content">
        <h1>Modern art family</h1>
        <p>Agence artistique spécialisée dans le street art</p>
        <a class="btn btn-flat over" href="4">Discover</a>
      </div>
    </div>
  </div>
</div>
